# Ignore node_modules directory
node_modules/

# Ignore any files ending with a .log extension
*.log

# Ignore any files ending with a .txt extension
*.txt

# Ignore any files ending with a .DS_Store extension
.DS_Store

# Ignore the build directory
build/
